.version.recipes /* version checker */
{
	color: #00000E;
	background-color: #85A4B6;
}

#page
{
	z-index: 1;
	min-height: 933px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -250px;
	width: 100%;
}

#u359_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u94
{
	z-index: 3;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	width: 15.1%;
}

#u2515
{
	z-index: 49;
	width: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 8.92%;
}

#menuu100
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 83.08%;
	left: 16.93%;
}

#u101
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.44%;
}

#u102
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u102:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u103-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u102:hover #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u102:active #u103-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u158
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.44%;
	left: 16.67%;
}

#u159
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u102.MuseMenuActive,#u159:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u159:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u162-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u102.MuseMenuActive #u103-4,#u159:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u159:active #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u163
{
	top: 62px;
	width: 84.51%;
}

#u164,#u1257
{
	position: relative;
	width: 100%;
}

#u1259
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1259:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1259.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1263-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 95%;
	left: 1.67%;
}

#u1259:hover #u1263-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u1259.MuseMenuActive #u1263-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95%;
	margin: 0px -10000px 0px 0%;
}

#u1263-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u191
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.44%;
	left: 33.34%;
}

#u192
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u159.MuseMenuActive,#u192:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u192:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u194-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u159.MuseMenuActive #u162-4,#u192:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u192:active #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u257
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.44%;
	left: 50%;
}

#u260
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u192.MuseMenuActive,#u260:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u260:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u262-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u192.MuseMenuActive #u194-4,#u260:hover #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u260:active #u262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u224
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.56%;
	left: 66.67%;
}

#u227
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u260.MuseMenuActive,#u227:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u227:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u228-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u260.MuseMenuActive #u262-4,#u227:hover #u228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u227:active #u228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u338
{
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	width: 16.56%;
	left: 83.45%;
}

#u341
{
	padding-bottom: 45px;
	position: relative;
	width: 100%;
}

#u227.MuseMenuActive,#u341:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u341:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u341.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u343-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 22px;
	width: 100%;
}

#u227.MuseMenuActive #u228-4,#u341:hover #u343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u341:active #u343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u341.MuseMenuActive #u343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u359,#u359-bw
{
	z-index: 2;
	min-height: 62px;
}

#pbuttonu1368
{
	margin-top: -3px;
	width: 100%;
}

#buttonu1368
{
	z-index: 54;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 14.91%;
	left: 76.54%;
}

#u1369-4
{
	z-index: 55;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: ingra, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 76.78%;
	left: 12.26%;
}

#buttonu1368:hover #u1369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 76.78%;
	margin: 7px -10000px 0px 0%;
}

#buttonu1368:hover #u1369-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1362
{
	z-index: 59;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 14.91%;
	left: 59.52%;
}

#u1363-4
{
	z-index: 60;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: ingra, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 76.78%;
	left: 12.26%;
}

#buttonu1368.ButtonSelected #u1369-4,#buttonu1362:hover #u1363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 76.78%;
	margin: 7px -10000px 0px 0%;
}

#buttonu1362:hover #u1363-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1353
{
	z-index: 64;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 14.91%;
	left: 42.5%;
}

#u1354-4
{
	z-index: 65;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: ingra, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 76.78%;
	left: 12.26%;
}

#buttonu1362.ButtonSelected #u1363-4,#buttonu1353:hover #u1354-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 76.78%;
	margin: 7px -10000px 0px 0%;
}

#buttonu1353:hover #u1354-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1374
{
	z-index: 69;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 14.91%;
	left: 25.49%;
}

#buttonu1368:hover,#buttonu1362:hover,#buttonu1353:hover,#buttonu1374:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #7DFFC7;
	min-height: 0px;
	width: 14.91%;
	margin: 49px -10000px 0px 0%;
}

#u1375-4
{
	z-index: 70;
	min-height: 23px;
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: ingra, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 76.78%;
	left: 12.26%;
}

#buttonu1353.ButtonSelected #u1354-4,#buttonu1374:hover #u1375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 76.78%;
	margin: 7px -10000px 0px 0%;
}

#buttonu1374.ButtonSelected #u1375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 76.78%;
	margin: 7px -10000px 0px 0%;
}

#buttonu1374:hover #u1375-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1368.ButtonSelected #u1369-4 p,#buttonu1362.ButtonSelected #u1363-4 p,#buttonu1353.ButtonSelected #u1354-4 p,#buttonu1374.ButtonSelected #u1375-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

#u1380
{
	z-index: 74;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 15%;
	left: 8.47%;
}

#u1383-4
{
	z-index: 75;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: acumin-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 28.85%;
	left: 35.26%;
}

#u1386
{
	z-index: 79;
	height: 333px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	width: 23.56%;
}

#u1410
{
	z-index: 80;
	height: 514px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	width: 16.93%;
	left: 82.99%;
}

#u1389
{
	z-index: 81;
	background-color: #A8A8A8;
	padding-bottom: 298px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	width: 23.56%;
	left: 23.56%;
}

#u1693
{
	z-index: 88;
	height: 7px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 88.98%;
	left: -27.76%;
}

#u1392
{
	z-index: 82;
	height: 126px;
	background-color: #CECECE;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	width: 42.5%;
	left: 23.56%;
}

#u1404
{
	z-index: 83;
	height: 307px;
	background-color: #CECECE;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	width: 35.87%;
	left: 47.12%;
}

#u1401
{
	z-index: 84;
	height: 126px;
	background-color: #CECECE;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	width: 23.56%;
}

#u1395
{
	z-index: 85;
	height: 207px;
	background-color: #545454;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	width: 35.87%;
	left: 47.12%;
}

#u1398
{
	z-index: 86;
	height: 126px;
	background-color: #A8A8A8;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	width: 33.95%;
	left: 66.06%;
}

#u1413
{
	z-index: 87;
	height: 183px;
	background-color: #686868;
	position: relative;
	margin-right: -10000px;
	margin-top: 561px;
	width: 47.12%;
}

#u1694-4
{
	z-index: 89;
	min-height: 42px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: ingra, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	width: 23.56%;
	left: 17.02%;
}

#u494
{
	z-index: 94;
	height: 526px;
}

.ie #u494
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u494-bw
{
	z-index: 94;
	height: 526px;
}

#u763
{
	z-index: 93;
	padding-bottom: 17px;
	margin-top: 67px;
	position: relative;
	width: 100%;
}

#u768-4
{
	z-index: 95;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 11.25%;
	left: 2.89%;
}

#u771
{
	z-index: 99;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 3.95%;
	left: 71.25%;
}

#u774
{
	z-index: 100;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 3.95%;
	left: 77.79%;
}

#u777
{
	z-index: 101;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 3.95%;
	left: 84.33%;
}

#u780
{
	z-index: 102;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 3.95%;
	left: 90.97%;
}

#u550-3
{
	z-index: 51;
	min-height: 37px;
	margin-top: 213px;
	position: relative;
	width: 23.56%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

